<h3>Sign In</h3>

<form action="/admin" method="POST">
  <label for="username"> Username </label>
  <input type="text" placeholder="Enter Username" name="username" />
  <label for="password"> Username </label>
  <input type="password" placeholder="Enter Password" name="password" />

  <input type="submit" value="login" />
</form>
