<header
  class="bg-branding text-white py-5 px-5 md:px-16 flex justify-between items-center"
>
  <a href="/" class="text-xl md:text-4xl lg:text-4xl font-black">Admin Panel</a>
  <nav class="text-sm md:text-xl">
    <ul class="flex justify-start items-center">
      <li class="mr-3 md:mr-6"><a href="/" class="">Home</a></li>
      <li class="mr-3 md:mr-6"><a href="/about" class="">About</a></li>

      <li><a href="/contact" class="">Contact</a></li>
    </ul>
  </nav>

  <div
    class="flex justify-center items-center w-fit h-fit text-sm md:text-base"
  >
    <button>Logout</button>
  </div>
</header>
