<header
  class="bg-branding text-white py-5 px-10 flex justify-between items-center"
>
  <a href="/dashboard" class="text-2xl md:text-4xl lg:text-4xl font-black"
    >Admin Panel</a
  >
  <nav>
    <ul class="flex justify-start items-center">
      <li class="mr-6"><a href="/" class="">Home</a></li>
      <li class="mr-6"><a href="/about" class="">About</a></li>

      <li><a href="/contact" class="">Contact</a></li>
    </ul>
  </nav>

  <a href="/logout">Logout</a>
</header>
