<!--  -->

<div class="searchBar hidden -translate-y-100">
  <div
    class="bg-gray-800 py-2 px-6 absolute left-0 right-0 flex justify-between items-center"
  >
    <form action="/search" method="POST" class="search__form" role="search">
      <input
        type="search"
        aria-label="search"
        id="searchInput"
        name="searchTerm"
        placeholder="Search the site"
        class="m-0 px-2 font-poppins"
      />
    </form>

    <div id="searchClose" class="text-white text-sm">Close</div>
  </div>
</div>
