<div
  class="hidden -translate-y-100 absolute w-full lg:w-10/12 px-10 py-2 bg-gray-600"
>
  <div class="flex justify-between items-center">
    <form action="/search" class="search__form" role="search" method="POST">
      <input
        type="search"
        aria-label="Search"
        id="searchInput"
        name="searchTerm"
        class="text-small pl-1"
        placeholder="search the site..."
      />
    </form>
    <div class="text-white">Close</div>
  </div>
</div>
