<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum obcaecati
        ut laboriosam, et dicta dolores, a odio voluptas perspiciatis culpa
        optio minus, mollitia perferendis quae exercitationem deserunt. Ea,
        pariatur quos!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga voluptatem
        rem dolorem, quaerat asperiores libero. Exercitationem neque non
        voluptates at eveniet earum, dicta provident quibusdam tenetur suscipit
        modi ab delectus!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam hic
        ipsum voluptates animi quidem cupiditate vel tenetur cumque ut
        laudantium, eaque perferendis inventore, molestiae vitae architecto
        alias magnam impedit delectus?
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
