<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>

    <div class="blogs content">
      <h2>About us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum nulla
        dolorum asperiores ex numquam, corporis eum nostrum porro perspiciatis
        aut animi vero mollitia, rerum tenetur perferendis placeat? Inventore,
        voluptatibus suscipit!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum nulla
        dolorum asperiores ex numquam, corporis eum nostrum porro perspiciatis
        aut animi vero mollitia, rerum tenetur perferendis placeat? Inventore,
        voluptatibus suscipit!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum nulla
        dolorum asperiores ex numquam, corporis eum nostrum porro perspiciatis
        aut animi vero mollitia, rerum tenetur perferendis placeat? Inventore,
        voluptatibus suscipit!
      </p>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
