<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/nav") %>
    <div class="content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
        doloribus repellendus quas, non corrupti quaerat ad deserunt dolores
        laboriosam eligendi fugiat, esse commodi voluptatum nulla expedita eius
        ea neque nisi!
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam
        voluptates nobis nemo incidunt! Suscipit vel eligendi quae tenetur sunt
        fugit quam aliquid. Itaque, deleniti! Quasi tenetur est quia iusto
        voluptatum.
      </p>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
