<div class="my-12 text-center">
  <h1 class="text-5xl mb-3 font-bold">Hi, This is Fari</h1>
  <p class="text-lg">Web developer and content creator</p>
</div>

<img
  src="/img/hero-img.jpg"
  alt="person looking out through window"
  class="w-1/2 h-48 md:h-72 rounded-lg object-cover mx-auto"
  width="981"
  height="528"
/>

<section class="px-12 my-12">
  <h2 class="text-branding text-2xl font-bold mb-6">Latest Posts</h2>
  <ul class="mb-12">
    <% data.forEach (post => { %>
    <div class="border-l-8 border-branding mb-3 pl-3">
      <li
        class="border-b border-gray-200 lg:flex lg:justify-between lg:items-center lg:py-3"
      >
        <a
          href="#"
          class="text-lg font-semibold lg:text-2xl lg:font-normal hover:text-branding"
        >
          <%= post.title %></a
        >
        <div class="text-gray-600 text-sm lg:text-base">
          <%= post.CreatedAt.toDateString() %>
        </div>
      </li>
    </div>
    <% }) %>
  </ul>

  <a href="#" class="pagination"> &lt; View Older Posts</a>
</section>
